.radley-regular {
            font-family: "Radley", serif;
            font-weight: 400;
            font-style: normal;
        }

        .radley-regular-italic {
            font-family: "Radley", serif;
            font-weight: 400;
            font-style: italic;
        }

        .carlito-regular {
            font-family: "Carlito", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .carlito-bold {
            font-family: "Carlito", sans-serif;
            font-weight: 700;
            font-style: normal;
        }

        .carlito-regular-italic {
            font-family: "Carlito", sans-serif;
            font-weight: 400;
            font-style: italic;
        }

        .carlito-bold-italic {
            font-family: "Carlito", sans-serif;
            font-weight: 700;
            font-style: italic;
        }