<%- include("layout.ejs") %>

<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-5">
        <div class="full-post text-center">
            <img src="/images/my-notion-face-portrait.png" alt="Logo" width="80" height="80" class="mb-4 rounded-circle">
            <h1 class="h3 mb-4 fw-normal">Welcome Back</h1>
            
            <% if (locals.error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            
            <div id="clientError" class="alert alert-danger" role="alert" style="display: none;"></div>
            
            <form action="/login" method="POST" class="form-custom text-start">
                <div class="mb-4">
                    <label for="email" class="form-label">Email address</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        <input type="email" name="email" class="form-custom-control" id="email" 
                               placeholder="name@example.com" required>
                    </div>
                </div>
                
                <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-lock"></i></span>
                        <input type="password" name="password" class="form-custom-control" id="password" 
                               placeholder="Password" required>
                    </div>
                </div>
                
                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" value="remember-me" id="checkDefault">
                    <label class="form-check-label" for="checkDefault">
                        Remember me
                    </label>
                </div>
                
                <button class="btn btn-custom btn-custom-primary w-100 py-2 mb-3" type="submit">
                    Log in
                </button>
                
                <div class="text-center mt-4">
                    <p class="text-secondary">Don't have an account? <a href="/signup">Sign up</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.querySelector('form').addEventListener('submit', function (event) {
        const email = document.querySelector('input[name="email"]').value.trim();
        const password = document.querySelector('input[name="password"]').value.trim();
        
        let errorMessage = "";

        if (!email || !password) {
            errorMessage += "All fields are required.";
        }

        const errorDiv = document.getElementById('clientError');
        if (errorMessage) {
            event.preventDefault(); // Prevent form submission
            errorDiv.innerHTML = errorMessage;
            errorDiv.style.display = 'block'; // Show the error message
        } else {
            errorDiv.style.display = 'none'; // Hide the error message
        }
    });
</script>

<%- include("partials/footer.ejs") %>